<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/users.css">

<section class="dashboard">
    <div class="top">

        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>

        <img src="/assets/img/profile.png" alt="" class="profile-img">

    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <ion-icon name="person-add-outline"></ion-icon>
                <span class="text">Nuevo usuario</span>

            </div>

            <div class="form-container">

                <form id="form-register-user" method="POST" class="form" action="/users">

                    <p class="title2">Formulario de registro</p>
                    <p class="message"></p>

                    <div class="flex">

                        <label>
                            <input id="name" name="NOMBRE_USR" class="input" type="text" placeholder="" required>
                            <span>Nombres</span>
                        </label>

                        <label>
                            <input id="lastname" name="APELLIDO_USR" class="input" type="text" placeholder="" required>
                            <span>Apellidos</span>
                        </label>

                        <select id="type" id="options" name="TIPO_USR" class="input" required>
                            <option value="" disabled selected hidden>Tipo de Usuario</option>
                            <option value="1">Admin</option>
                            <option value="2">Gerente</option>
                            <option value="3">Colaborador</option>
                        </select>

                    </div>

                    <div class="flex">
                        <div class="left-fields">
                            <label>
                                <input class="input" name="CORREO_USR" type="email" placeholder="" required="">
                                <span>Correo Electrónico</span>
                            </label>

                            <label>
                                <input class="input" name="CONTRASENA_USR" type="password" placeholder="" required="">
                                <span>Contraseña</span>
                            </label>

                        </div>

                        <label class="custum-file-upload">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Click aquí para subir una imagen</div>
                            <input type="file" id="file" accept="image/*" onchange="previewImage(event)">
                        </label>


                    </div>

                    <button class="submit" type="submit">Registrar usuario</button>
                </form>

                <div class="image-preview">
                    <i id="icon-placeholder" class="uil uil-image-search placeholder-icon"></i>
                    <img id="preview" src="" alt="Vista previa de la imagen">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/imgPreview.js"></script>