<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/users.css">

<section class="dashboard">

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <ion-icon name="person-add-outline"></ion-icon>
                <span class="text">Nuevo usuario</span>

            </div>

            <div class="form-container">

                <form id="form-register-user" method="POST" class="form" action="/users">

                    <p class="title2">Formulario de registro</p>
                    <p class="message"></p>

                    <div class="flex">

                        <label>
                            <input id="name" name="NOMBRE_USR" class="input" type="text" placeholder="" required>
                            <span>Nombres*</span>
                        </label>

                        <label>
                            <input id="lastname" name="APELLIDO_USR" class="input" type="text" placeholder="" required>
                            <span>Apellidos*</span>
                        </label>

                     

                    </div>

                    <div class="flex">
                        <div class="left-fields">
                            <label>
                                <input id="correo_usr" class="input" name="CORREO_USR" type="email" placeholder=""
                                    required="">
                                <span>Correo Electrónico*</span>
                            </label>

                        </div>

                        <label class="custum-file-upload">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Click aquí para subir una imagen</div>
                            <input id="file" type="file" accept="image/*" onchange="previewImage(event)">
                        </label>



                    </div>

                    <button class="submit" type="submit">Registrar usuario</button>
                </form>

                <div class="image-preview">
                    <i id="icon-placeholder" class="uil uil-image-search placeholder-icon"></i>
                    <img id="preview" src="" alt="Vista previa de la imagen">
                </div>
            </div>
        </div>
    </div>

   
</section>


<script src="/sis/middleware/users/registerUser.js"></script>

<script src="/assets/js/imgPreview.js"></script>