<link rel="stylesheet" href="/css/login.css">

<section>
    <div class="form-box">
        <div class="form-value">
            <form>
                <h2>Bienvenido</h2>

                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" placeholder=" " required>
                    <label>Correo</label>
                </div>

                <div class="inputbox">
                    <input type="password" id="password" placeholder=" " required>
                    <label for="password">Contraseña</label>
                    <!-- Ícono para mostrar/ocultar contraseña -->
                    <ion-icon id="toggle-password" name="eye-outline"></ion-icon>
                </div>

                <div class="forget">
                    <a href="#">Recuperar contraseña</a>
                </div> <button>Iniciar Sesión </button>

                <div class="register">
                    <p>¿No tienes cuenta? <a href="#">Registrate</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/js/togglePswIcon.js"></script>