<link rel="stylesheet" href="/assets/css/navbar.css">

<nav>

    <div class="logo-name">
        <a href="/dashboard">
            <div class="logo-image">
                <img src="/assets/img/library.png" alt="">
            </div>
        </a>
        <span class="logo_name">bookstore</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/dashboard">
                    <ion-icon class="" name="pie-chart-outline"></ion-icon>
                    <span class="link-name">Dahsboard</span>
                </a></li>
            <li><a href="/users">
                    <ion-icon name="people-circle-outline"></ion-icon>
                    <span class="link-name">Usuarios</span>
                </a></li>
            <li><a href="/products">
                    <ion-icon name="book-outline"></ion-icon>
                    <span class="link-name">Productos</span>
                </a></li>
                  <li><a href="/generos">
                    <ion-icon name="rocket-outline"></ion-icon>
                    <span class="link-name">Géneros</span>
                </a></li>
            <li><a href="#">
                    <ion-icon name="receipt-outline"></ion-icon>
                    <span class="link-name">Solicitudes</span>
                </a></li>
            <li><a href="/news">
                    <ion-icon name="newspaper-outline"></ion-icon>
                    <span class="link-name">Noticias</span>
                </a></li>
            <li><a href="/categorias">
                    <ion-icon name="folder-open-outline"></ion-icon>
                    <span class="link-name">Categorías</span>
                </a></li>
            <li><a href="#">
                    <ion-icon name="globe-outline"></ion-icon>
                    <span class="link-name">Sitio</span>
                </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                    <span class="link-name">Salir</span>
                    <ion-icon name="log-out-outline"></ion-icon>
                </a></li>

            <li class="mode">
                <a href="#">
                    <span class="link-name">Modo Oscuro</span>
                    <ion-icon name="moon-outline"></ion-icon>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="/assets/js/navbar.js"></script>